[submodule "source/opencv-4.7.0"]
	path = source/opencv-4.7.0
	url = https://gitcode.net/opencv/opencv.git
	branch = 725e440d278aca07d35a5e8963ef990572b07316

[submodule "source/opencv-2.3.0"]
	path = source/opencv-2.3.0
	url = https://gitcode.net/opencv/opencv.git
	branch = b1459928f576c36e8857bac987c49a0c84d77656